body {
    margin: 0; /* Убирает отступы по умолчанию */
    font-family: Arial, sans-serif; /* Устанавливает шрифт для всего документа */
}

header {
    background-color: #51598b; /* Цвет фона для заголовка */
    text-align: center; /* Выравнивание текста по центру */
    padding: 20px; /* Внутренние отступы вокруг содержимого заголовка */
    color: white; /* Цвет текста в заголовке */
}

main {
    display: flex; /* Использует обтекаемую компоновку для дочерних элементов */
    justify-content: center; /* Центрирует содержимое по горизонтали */
    align-items: center; /* Центрирует содержимое по вертикали */
    padding: 20px; /* Внутренние отступы вокруг основного содержимого */
}

.text-section {
    margin-right: 20px; /* Отступ справа от текстового блока */
    max-width: 400px; /* Ограничивает ширину текстового блока */
    line-height: 1.6; /* Устанавливает высоту строки для лучшего чтения */
}

.image-section img {
    width: 550px; /* Ширина изображения */
    height: 350px; /* Высота изображения */
    border-radius: 10px; /* Закругляет углы изображения */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляет тень к изображению для эффекта глубины */
}

footer {
    text-align: center; /* Центрирует текст в подвале */
    font-size: 0.8em; /* Уменьшает размер шрифта в подвале */
    margin-top: 20px; /* Отступ сверху подвала от основного содержимого */
    padding: 10px; /* Внутренние отступы для подвала */
    background-color: #f1f1f1; /* Цвет фона для подвала */
}

